<h1>Chat</h1>
<table style="width: 100%;">
    <div *ngFor="let mensaje of mensajes" style="width: 100%;background-color: rgb(206, 206, 206);">
        <tr>
            <td>
                <p [style]="UsuarioActual() == mensaje.usuario ? 'color: red' : 'color:black'"><b>{{mensaje.usuario}}:</b></p>
            </td>
            <td>
                <p>{{mensaje.mensaje}}</p>
            </td>
        </tr>
    </div>
</table>
<div class="footer">
    <input [(ngModel)]="nuevoMensaje" type="text">
    <button (click)="Enviar()">Enviar</button>
</div>